.root{
    flex-grow: 1;
}

/* questions*/
.title{
    color: #ceeabe;
    font-family: Lucida;
}
.text{
    font-family: Lucida;
    width: 520px;
    font-size: 30px;
    padding-top: 280px ;
    /*margin-left: 105px;*/
    color: black;
}



/*All for navbar*/
.title{
    padding-top: 2px;
}
.wrap{
    background-color: #83bf82;
    border-radius: 0 22px 0 0 ;
}
