.root{
    flex-grow: 1;
}

/* questions*/
.what_title{
    color: #078005;
    /*font-family: 'ABeeZee';*/
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    font-size: 42px;
}
.what-text_2{
    padding-top: 80px ;
}

.what-text{
    
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    width: 580px;
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    padding-top: 120px ;
    /*margin-left: 105px;*/
    color: black;
}



/*All for navbar*/
.title-nav{
    padding-top: 2px;
}
.wrap{
    background-color: #83bf82;
    border-radius: 0 22px 0 0 ;
}
