.image_reg{
    background-color: #83bf82;
    border-radius: 0 22px 22px 0 ;
    padding-top: 30px;
}

.form_reg{
    text-align: center;
    padding-left: 170px;
    padding-top: 120px;
    font-size: 20px;
    color: #83bf82;
}
.field_reg{
    padding-top: 20px;
}