.root{
    flex-grow: 1;
}

/* questions*/
.title{
    color: #ceeabe;
    font-family: Lucida;
    font-size: 42px;
}
.textWhat-under{
    padding-top: 80px ;
}

.textWhat{
    font-family: Lucida;
    width: 520px;
    font-size: 30px;
    margin-left: 50px;
    padding-top: 120px ;
    /*margin-left: 105px;*/
    color: black;
}



/*All for navbar*/
.title-nav{
    padding-top: 2px;
}
.wrap{
    background-color: #83bf82;
    border-radius: 0 22px 0 0 ;
}
