.root{
    flex-grow: 1;
}

/* questions*/
.text{
    font-family: Lucida;
    width: 420px;
    margin-left:150px ;
    font-size: 40px;
    padding-top: 280px ;
    /*margin-left: 105px;*/
    color: #ceeabe;
}

.button{
    padding-top: 100px ;
}

/*All for navbar*/
.title {
    padding-top: 100px;
    height: 70px;
}



