.root{
    flex-grow: 1;
}

/* questions*/
.text{
    font-family: Lucida;
    width: 420px;
    margin-left:150px ;
    font-size: 40px;
    padding-top: 280px ;
    /*margin-left: 105px;*/
    color: #ceeabe;
}

.button{
    padding-top: 120px ;
}

/*All for navbar*/
.title{
    padding-top: 2px;
}
.wrap{
    background-color: #83bf82;
    border-radius: 0 22px 0 0 ;
}



