.navbar{
    background-color: green;
    width: 125%;
    border-radius: 0 22px 0 0 ;
    height: 100%;
}

.icon{
    padding-top: 10%;
    color:#ffff;
    text-align: center;
}
.textIcon{font-size: 10px;}