#rotada1{
    transform: rotate(270deg);
    cursor: pointer;
}

#rotada2{
    transform: rotate(90deg);
    cursor: pointer;
}

p{
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    font-size: 20px;
}