h3{
    color: #078005;
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    font-size: 42px;
}

h4{
    
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    color: #078005;
    font-size: 32px;
}

#rotada{
    transform: rotate(180deg);
    cursor: pointer;
}


.areas img{
    width: 370px;
    height: 370px;
}

.consumo img{
    width: 300px;
    height: 250px;
}


.what-con{
    font-family: 'FuturaHand';
    src: local('FuturaHand'), url(../../../FuturaHand.ttf) format('ttf');
    text-align: center;
    font-size: 30px;
    margin-left: 7%;
    margin-top: 5%;
}